[Unit]
Description=Run gdelt_diff-v2.service

[Timer]
Unit=gdelt-diff.service
OnBootSec=5min
OnUnitActiveSec=60min

[Install]
WantedBy=multi-user.target
